body {
    width: 100%;
}

.section-info {
    margin: auto;
    width: 1200px;
}

.section-skills {
    margin: auto;
    width: 1200px;
}

.section-education {
    margin: auto;
    width: 1200px;
}

.section-course {
    margin: auto;
    width: 1200px;
}

.section-eng {
    margin: auto;
    width: 1200px;
}