* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: lightgray;
    text-align: center;
}

.section-info {
    margin: auto;
    width: 1200px;
    background-color: darkgray;
}

.my-name-info {
    padding-top: 50px;
    text-transform: uppercase;
    background-color: darkgray;
}

.description-info {
    margin: auto;
    padding-top: 50px;
    width: 400px;
}

img {
    margin: auto;
    width: 300px;
    padding-top: 50px;
}

.contact-info {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}

.contact-info > a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.skills-title {
    text-transform: uppercase;
}

.education {
    text-transform: uppercase;
}
.section-course {
    padding-top: 50px;
    margin: auto;
    width: 1200px;
    background-color: darkgray;
}

.section-eng {
    padding-top: 50px;  
    margin: auto;
    width: 1200px;
    background-color: darkgray;
}