*{
    margin: 0;
    padding: 0;
    font-family: 'Shippori Mincho B1', serif;
}

.wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em 1em;
    max-width: 1000px;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1em 5em;
}
header{
    display: flex;
    justify-content: flex-end;
    height: 200px;
    background-color: #2150BD;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: solid 3px black;
}
header>div{
    align-self: flex-end;
    margin-right: 10em;
}
.small{
    font-size: 12px;
    word-spacing: 0.3em;
    letter-spacing: 6px;
}
h1{
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 0.4em;
    letter-spacing: 10px;
}
h2{
    text-transform: uppercase;
    padding-bottom: 1em;
}
h4{
    text-transform: uppercase;
}
.block{
    border-bottom: solid 2px black;
    padding-bottom: 2em;
}
.myPhoto{
    border: none;
    width: 250px;
    position: absolute;
    top: -10em;
    left: 5em;
}
main{
    position: relative;
    padding-left: 5em;
    padding-right: 5em;
}
main>section>ul{
    padding-left: 2em;
}
.language,.projects{
    border: none;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2150BD;
    color: #ffffff;
}
nav>ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav>ul>li{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 2em;
    margin-left: 2em;
}
.social:hover{
    height: 35px;
}
.inst{
    width: 35px;
    height: 40px;
}
.vk{
    width: 45px;
    height: 40px;
}
.git{
    width: 35px;
    height: 40px;
}